:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  min-height: 100dvh;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

nz-content {
  margin: 24px;
}

.ant-layout-content{
  padding-inline: 24px;
  padding-bottom: 24px;
  padding-top: 10px;
}

.inner-content {
  background: transparent;
  height: 100%;
  overflow: hidden;
}

nz-affix{
  width: 100% !important;
  height: 47px !important;
}

.ant-layout-header{
  background: transparent;
  height: 47px;
  line-height: normal;
}

.app-header {
  display: flex;
  align-items: center;
  position: relative;
  height: 47px;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
  margin-inline: 24px;
  border-radius: 23px;

  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  transition: background-color .2s ease;
}

.header-icon{
  display: grid;
  place-content: center;
  background: #dbab9f;
  color: #b7234c;
  font-size: 24px;
  padding: 5px;
  border-radius: 999px;
  height: 36px;
  width: 36px;
  margin-left: 6px;
}

.app-title{
  margin: 0;
  font-size: large;
  margin-left: 10px;
  font-weight: 600;
  color: rgb(129, 24, 54);
}
